:root {
    font-size: 100%;
    --primary-color: #FFFFFF;
    --secondary-color: #EEEEEE;
    --main-white: #white;
    --border-color: transparent;
    --black: #000000;
}

body {
    transition: all 0.5s ease;
    font-family: "Poppins";
}

/* HEADER */
.header {
    position: fixed;
    background-color: var(--primary-color);
    height: 70px;
    width: 100%;
    border-bottom: 2px solid var(--border-color);
    margin-left: 220px;
}


/* SIDEBAR CONTENTS */
.logo img {
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.username h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    color: white;
}
.username h2 {
    font-size: small;
    color: white;
    margin-left: 50px;
}

.logo-title {
    padding-bottom: 10%;
    border-bottom: 1px solid var(--border-color);
}


.sidebar-content {
    position: relative;
    background-color: #161A23;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 30px 15px;
    z-index: 100;
    border-right: 2px solid var(--border-color);
    transition: all 0.3s ease;
}

.sidebar-content::-webkit-scrollbar {
    display: none;
}

.sidebar-content a {
    color: var(--white);
}

.sidebar-content-tabs {
    position: relative;
    color: #FFFFFF;
}

.admin-tabs {
    padding: 0;
    list-style: none;
}

.admin-tab a {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    margin-bottom: 3px;
    margin-top: 5px;
    border-bottom: 1px solid var(--border-color);
}

.admin-tab a:hover {
    color: var(--main-green);
}

.admin-tab a.active-link {
    font-weight: bold;
    color: var(--main-white);
}

.tab-link .tab-link-name {
    padding-left: 10px;
    padding-top: 2px;
    color: #FFFFFF;
}

.admin-tabs .tab-link-icon {
    font-size: 20px;
    color: white;
}

ul ul {
    list-style: none;
}


.logoutbtn .logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    color: white;
}

.logoutbtn .logout:hover {
    color: var(--main-green);
}

.logoutbtn {
    position: fixed;
    bottom: 25px;
    left: 0;
    width: 220px;
    cursor: pointer;
    transition: all 0.5s ease;
}

@media only screen and (max-width: 768px) {
    .sidebar-content {
        width: 70px;
    }
    .sidebar-content:hover {
        width: 220px;
        z-index: 200;
    }
    .sidebar-content:hover li a span:last-child {
        display: inline;
    }

    .logo-title {
        display: none;
    }

    .tab-link-name {
        display: none;
    }

    .logoutbtn {
        bottom: 20px;
        width: 50px;
    }
    
}

@media screen and (min-width: 768px) {
    .body-content {
        padding-left: 20px;
        padding-top: 70px;
    }
}

.body-content {
    padding-left: 240px;
    padding-top: 90px;
}