<!-- ICONS SOURCE -->
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/boxicons/2.0.7/css/boxicons.min.css">

<div class="content">
    <!-- HEADER -->
    <div class="header">

    </div>

    <!-- BODY CONTENT -->
    <div class="body-content">
        <div class="admin-container"> <router-outlet></router-outlet> </div>
    </div>

    <nav class="sidebar-content">
        <!-- LOGO AND SUBSYSTEM TITLE -->
        <div class="logo-title">
            <div class="logo">
                <img src="assets/images/DJ ICON.png">
            </div>      
            <div class="username">
                <h1>Ivan Jason </h1>
                <h2>Disk Jockey</h2>
            </div>
        </div>

        <!-- SIDEBAR TABS -->   
        <div class="sidebar-tabs">      
            <ul class="admin-tabs"> 
            <li class="admin-tab">
                <a class="tab-link" routerLink="Dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                <span class="tab-link-icon"> <i class='bx bx-book-alt'></i> </span>
                <span class="tab-link-name"> Dashboard </span>
                </a>
            </li>   
            <li class="admin-tab">
                <a class="tab-link" routerLink="Profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                <span class="tab-link-icon"> <i class='bx bx-book' ></i> </span>
                <span class="tab-link-name"> Profile </span>
                </a>
            </li>
            <li class="admin-tab">
                <a class="tab-link" routerLink="Events" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                <span class="tab-link-icon"> <i class='bx bx-cabinet' ></i> </span>
                <span class="tab-link-name"> Events </span> 
                </a>
            </li>
            </ul>

            <!-- LOGOUT BUTTON -->
            <div class="logoutbtn">
            <div class="logout" routerLink="/login">
                <span> <i class='bx bx-log-out bx-rotate-180' ></i> </span>
            </div>
            </div>
        </div>
    </nav>

</div>
