.main-content {
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 70px;
    margin-right: 20px;
    margin: auto;
}
/* Tabs */  
.page-content {
	max-width: 100%; 
	margin: 5px 15px; 
	background: #ffffff;
}
a {
	color: #21D4FD; 
	transition: all 0.3s;
}

.tabbed {
	overflow-x: hidden; 
	padding-bottom: 10px;
	
}

.tabbed [type="radio"] {
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
    width: 93.5%; /*changed*/ 
    margin-left: 48px; /*changed*/
	border-bottom: 3.5px solid #000000;
}

.tabs:hover {
	display: flex;
	align-items: stretch;
	list-style: none;
    width: 93.5%; /*changed*/
	color: #31A463;
}

.tab {
    margin-top: 5px;
    width: 35%; /*changed*/
}
.tab > label {
    color: #000000;
	display: block;
    font-size: 17px; 
    font-weight: bold;
    line-height: 15px;
    padding: 15px 10px;
    text-align: center;
	background: #ffffff;
	font-weight: bold;
	cursor: pointer;	
	transition: all 0.3s;
}
.tab:hover label {
    color: #ffffff;
	background-color: #161A23; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

/* Tab */

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label {
	border-bottom-color: #161A23;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	background: #161A23;
	color: #ffffff;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3) {
	display: block;
}

.tab-content {
	display: none;
	color: #777;
}