/* You can add global styles to this file, and also import other style files */
:root {
    font-size: 100%;
    --primary-color: #FFFFFF;
    --secondary-color: #EEEEEE;
    --main-green: #31A463;
    --border-color: #DFE0E0;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: "Poppins";
    transition: all 0.5s ease;
}
